{% extends "base.html" %}
{% block content %}

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}

<form method="POST" action="/bin_add">
    <div class="mb-3">
        <label for="picture" class="form-label">Picture</label>
        <input type="file" class="form-control" id="picture" name="picture">
    </div>
                    <div class="mb-3">
                        <label for="InputName1" class="form-label">Name</label>
                        <input type="name" class="form-control" id="InputName1" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="InputBinNo1" class="form-label">Bin Number</label>
                        <input type="binNo" class="form-control" id="InputBinNo1" name="binNo">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    
                    <div class="mb-3">
                        <label for="InputAddress1" class="form-label">Address</label>
                        <input type="address" class="form-control" id="InputAddress1" name="address">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
</form>



{% endblock %}