{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bins</title>
</head>
<body>
    <h1>Bin List</h1>

    <!-- Search form -->
    <form method="get" action="/bins">
        <input type="text" name="search" value="{{ search_term }}" placeholder="Search by name or email">
        <button type="submit">Search</button>
    </form>

    <!-- Display list of customers -->
    <ul>
        {% for bin in bins %}
            <li>
                <a href="{{ url_for('routes_bp.bin_detail', id=bin.id) }}">

                    {{ bin.name }} ({{ bin.binNo }})
                </a>
            </li>
        {% else %}
            <li>No bins found.</li>
        {% endfor %}
    </ul>

</body>
</html>


{% endblock %}