{% extends "base.html" %}
{% block content %}
<div class="container px-1 text-center">
    <div class="row gx-2">
      <div class="col">
       <div class="p-6">
        <div class="column is-4 is-offset-4">
            <h3 class="title">Sign Up</h3>
            <div class="box">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
                </div>
                {% endif %}
                 {% endwith %}
        
        
                 <!--Old signup form  -->
                <!-- <form method="POST" action="\signup">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                        </div>
                    </div>
        
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                        </div>
                    </div>
        
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
        
                    <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
                </form> -->
        
        
                <form method="POST" action="/signup">
                    <div class="mb-3">
                        <label for="InputName1" class="form-label">Name</label>
                        <input type="name" class="form-control" id="InputName1" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="InputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="InputEmail1" name="email" aria-describedby="emailHelp">
                        <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="InputPassword1" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            </div>
          </div>
       </div>
      </div>
    </div>
  </div>

{% endblock %}